* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Sweet Sans Pro";
}
a {
  text-decoration: none;
  color: black;
}
.navbar {
  display: flex;
  background-color: white;
}
.container {
  width: 77.5%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 15px;
}
.opts {
  list-style: none;
  display: flex;
  text-transform: uppercase;
}
.opts-2 li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}
.opts li {
  cursor: pointer;
  font-size: 11px;
  letter-spacing: 0.1em;
  font-weight: 200;
  padding-right: 30px;
}
.opts li:hover {
  color: #b2a595;
}
.nav-logo a {
  font-size: 60px;
  font-weight: 100;
  font-family: "Caveat";
  margin-bottom: 20px;
}
.menu-bars {
  display: none;
}
.s-1 {
  height: 630px;
  width: 90%;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  .left{
    width: 400px;
    margin: auto;
    h1{
        font-size: 33px;
        font-family: playful display;
        font-weight: 100;
    }
    h2{
        font-size: 17px;
        padding: 10px 0;
        letter-spacing: .1em;
    }
    p{
        padding-right: 50px;
        border-top: black .5px solid;
        padding-top: 20px;
        line-height: 1.6em;
        font-size: 20px;
    }
    div{
        text-align: start;
        border-bottom: black 1px solid;
        width: 150px;
        max-height: 25px;
        margin-top: 20px;
        cursor: pointer;
        h6{
            font-size: 18px;
            text-transform: uppercase;
            transition: all .5s ease-in-out;
            bottom: 0;
        }
    }
    div:hover{
        h6{
            font-size: 9px;
            color: #b2a595;
            padding-bottom: 5px;
        }
    }
  }
}
.s-2{
    min-height: 500px;
    margin: 100px 130px;
    display: flex;
    h1{
        font-size: 32px;
        font-family: playful display;
        font-weight: 100;
        line-height: 1.4em;
    }
    p{
        font-size: 20px;
        font-weight: 100;
        line-height: 1.6em;
        margin-top: 1.6em;
        width: 440px;
    }
    .git{
        width: 200px;
        margin-left: auto;
        margin-top: 20px;
        border-bottom: 1px black solid;
        padding-bottom: 5px;
        h4{
            font-size: 24px;
            cursor: pointer;
            transition: all .5s ease-in-out;
        }
    }
    .git:hover{
        h4{
            color: #b2a595;
            font-size: 9px;
            margin-top: 13px;
        }
    }
    .left{
        width: 450px;
        margin-right: 150px;
        margin-top: 50px;
    }
    .right{
        width: 450px;   
    }
    .h1{
        margin-top: 50px;
    }
}
