* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Sweet Sans Pro";
}
a {
  text-decoration: none;
  color: black;
}
.navbar {
  display: flex;
  background-color: white;
}
.container {
  width: 77.5%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 15px;
}
.opts {
  list-style: none;
  display: flex;
  text-transform: uppercase;
}
.opts-2 li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}
.opts li {
  cursor: pointer;
  font-size: 11px;
  letter-spacing: 0.1em;
  font-weight: 200;
  padding-right: 30px;
}
.opts li:hover {
  color: #b2a595;
}
.nav-logo a {
  font-size: 60px;
  font-weight: 100;
  font-family: "Caveat";
  margin-bottom: 20px;
}
.menu-bars {
  display: none;
}
.ab-1 {
  border-top: 0.5px black solid;
  border-bottom: 0.5px black solid;
  margin-bottom: 60px;
  div {
    width: 55%;
    margin: 100px auto;
    text-align: center;
    h1 {
      font-family: Playful Display;
      font-weight: lighter;
    }
    p {
      font: normal normal lighter 16px/1.6em "Sweet Sans Pro";
      margin-top: 20px;
    }
  }
}
.ab-2 {
  div {
    width: 75%;
    margin: auto;
  }
  .founder {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    .left {
      width: 50%;
      .f-title {
        margin: 0;
        border-bottom: 0.5px black solid;
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 20px;
        h1 {
          font-family: Playful Display;
          font-weight: 100;
        }
        p {
          font-size: 10px;
          margin: 0;
          margin-top: 20px;
        }
      }
      p,
      em {
        font-weight: lighter;
        padding-bottom: 20px;
        line-height: 25px;
        span {
          font-family: Caveat;
        }
      }
      .pd-20 {
        padding: 10px;
      }
    }
    .right {
      width: 40%;
      padding: 0;
      margin: 0;
      p {
        font-size: 12px;
        padding-top: 10px;
        span {
          font-family: Caveat;
        }
      }
    }
  }
  .designers {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 50px;
    /* position: relative; */
    height: 800px;
    .designer {
      text-align: center;
      width: 242px;
      height: 100%;
      /* position: absolute; */
      top: 0;
      h1 {
        font-family: Playful Display;
        font-size: 25px;
        font-weight: 100;
        margin: 10px 0;
      }
    }
  }
}
.ab-3 {
  display: flex;
  justify-content: space-between;
  .client {
    width: 600px;
    height: 300px;
    margin: auto;
    text-align: center;
    h1 {
      font-size: 20px;
      text-transform: uppercase;
    }
    p {
      margin: 50px auto;
      width: 400px;
      font-size: 25px;
      font-weight: 100;
    }
  }
}
.ab-4 {
  width: 70%;
  margin: 100px auto;
  text-align: center;
  .values {
    display: flex;
    justify-content: space-between;
    h2 {
      margin: 30px 0;
      font-size: 20px;
    }
    p {
      width: 250px;
    }
  }
}
.ab-5 {
  width: 87.5%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: black 1px solid;
  h6 {
    font-size: 25px;
    font-family: playful display;
  }
  p {
    text-align: center;
    width: 120px;
    margin: auto;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0;
    border-bottom: #000 0.5px solid;
    cursor: pointer;
    padding-top: 10px;
  }
  p:hover {
    color: #b2a595;
  }
}
.join {
  padding: 20px;
  text-align: center;
}
.j-title {
  font-size: 35px;
}
.j-content {
  h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: Georgia;
    padding: 50px 0;
    font-weight: 100;
  }
}
.j-inputs {
  width: 50%;
  display: flex;
  margin: auto;
  .j-inp {
    width: 33%;
    height: 20px;
    padding: 10px;
  }
}
.subscribe {
  margin: 20px 0;
  padding: 10px 50px;
  text-transform: uppercase;
  font-size: 12px;
  background: white;
  border: black 1px solid;
  cursor: pointer;
}
.subscribe:hover {
  color: #b2a595;
}
.services {
  margin: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.service {
  font-size: 18px;
  margin-right: 50px;
  cursor: pointer;
}
.service:hover {
  color: #b2a595;
}
.copy {
  text-align: center;
  color: gray;
  margin-bottom: 50px;
}
.policies {
  display: flex;
  justify-content: center;
  p {
    margin-right: 10px;
    cursor: pointer;
  }
}
