* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Sweet Sans Pro";
}
a {
  text-decoration: none;
  color: black;
}
.navbar {
  display: flex;
  background-color: white;
}
.container {
  width: 77.5%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 15px;
}
.opts {
  list-style: none;
  display: flex;
  text-transform: uppercase;
}
.opts-2 li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}
.opts li {
  cursor: pointer;
  font-size: 11px;
  letter-spacing: 0.1em;
  font-weight: 200;
  padding-right: 30px;
}
.opts li:hover {
  color: #b2a595;
}
.nav-logo a {
  font-size: 60px;
  font-weight: 100;
  font-family: "Caveat";
  margin-bottom: 20px;
}
.menu-bars {
  display: none;
}
.join {
  padding: 20px;
  text-align: center;
}
.j-title {
  font-size: 35px;
}
.j-content {
  h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: Georgia;
    padding: 50px 0;
    font-weight: 100;
  }
}
.j-inputs {
  width: 50%;
  display: flex;
  margin: auto;
  .j-inp {
    width: 33%;
    height: 20px;
    padding: 10px;
  }
}
.subscribe {
  margin: 20px 0;
  padding: 10px 50px;
  text-transform: uppercase;
  font-size: 12px;
  background: white;
  border: black 1px solid;
  cursor: pointer;
}
.subscribe:hover {
  color: #b2a595;
}
.services {
  margin: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.service {
  font-size: 18px;
  margin-right: 50px;
  cursor: pointer;
}
.service:hover {
  color: #b2a595;
}
.copy {
  text-align: center;
  color: gray;
  margin-bottom: 50px;
}
.policies {
  display: flex;
  justify-content: center;
  p {
    margin-right: 10px;
    cursor: pointer;
  }
}
