@media screen and (max-width:1200px) {
    .opts{
        display:  none;
    }
    .nav-logo{
        margin: auto;
    }
    .container{
        width: 80%;
    }
    .menu-bars{
        display: flex;
    }
    .menu-icon{
        height: 50px;
        width: 50px;
    }
    .msg{
        width: 60%;
        margin-top: 20px;
    }
    .features{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .feature{
        width: 98%;
        margin-bottom: 10px;
    }
}