* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Sweet Sans Pro";
}
a {
  text-decoration: none;
  color: black;
}
.navbar {
  display: flex;
  background-color: white;
  border-bottom: black 0.5px solid;
}
.container {
  margin: 20px 153px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.opts {
  list-style: none;
  display: flex;
  text-transform: uppercase;
  position: absolute;
  left: 0px;
}
.opts-2 {
  list-style: none;
  display: flex;
  text-transform: uppercase;
  position: absolute;
  right: 0px;
}
.opts-2 li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  cursor: pointer;
  font-size: 11px;
  letter-spacing: 0.1em;
  margin-left: 50px;
}
.opts li {
  cursor: pointer;
  font-size: 11px;
  letter-spacing: 0.1em;
  margin-right: 50px;
  font-weight: 400;
}
.opts li a:hover,
.opts-2 li a:hover {
  color: #b2a595;
}
.nav-logo a {
  font-size: 60px;
  font-weight: 100;
  font-family: "The Austin";
  margin-bottom: 20px;
}
.menu-bars {
  display: none;
}
.s-1 {
  min-height: 630px;
  margin-left: 76px;
  display: flex;
  justify-content: space-between;
  .left {
    width: 400px;
    margin-left: 115px;
    margin-top: 110px;
    h1 {
      font-size: 30px;
      font-family: playfair display;
      font-weight: 400;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 17px;
      letter-spacing: 0.1em;
      font-weight: 400;
      margin-bottom: 20px;
    }
    p {
      border-top: black 0.5px solid;
      padding-top: 20px;
      line-height: 1.7em;
      font-weight: 300;
      font-size: 20px;
      width: 389px;

    }
    div {
      text-align: start;
      border-bottom: black 1px solid;
      width: 150px;
      max-height: 25px;
      margin-top: 20px;
      cursor: pointer;
      h6 {
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
        bottom: 0;
      }
    }
    div:hover {
      h6 {
        font-size: 9px;
        color: #b2a595;
        padding-bottom: 5px;
      }
    }
  }
}
.s-2 {
  margin: 100px 130px;
  display: flex;
  h1 {
    font-size: 32px;
    font-family: playfair display;
    font-weight: 400;
    line-height: 1.6em;
    margin-bottom: .8em;
  }
  p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6em;
    margin-top: .8em;
    width: 440px;
  }
  .git {
    width: 200px;
    margin-left: auto;
    margin-top: 20px;
    border-bottom: 1px black solid;
    padding-bottom: 5px;
    h4 {
      font-size: 22px;
      font-weight: 400;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
    }
  }
  .git:hover {
    h4 {
      color: #b2a595;
      font-size: 14px;
      margin-top: 13px;
    }
  }
  .left {
    width: 450px;
    margin-right: 150px;
    margin-top: 50px;
  }
  .right {
    width: 450px;
  }
  .h1 {
    margin-top: 50px;
  }
}
.s-3 {
  display: flex;
  padding-bottom: 50px;
  div {
    width: 650px;
    margin-left: 15px;
    padding: 20px 0;
    h1 {
      font-family: playfair display;
      font-weight: 400;
      font-size: 30px;
    }
    .gs {
      margin: 20px 0px;
      width: 250px;
      padding: 10px 0;
      border-bottom: 1px black solid;
      h4 {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.1em;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
      }
    }
    .gs:hover {
      h4 {
        margin-top: 10px;
        font-size: 12px;
        color: #b2a595;
      }
    }
    p {
      font-size: 20px;
    }
    em {
      font-style: italic;
      font-size: 20px;
      font-weight: 300;
      line-height: 1.4em;
      padding-top: 1em;
    }
  }
}
.join {
  padding: 20px;
  text-align: center;
  border-top: black 1px solid;
  .fancy {
    font-family: "the austin";
    width: 250px;
    font-size: 33px;
    margin: 20px auto;
    letter-spacing: 0px;
  }
}
.j-title {
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.j-content {
  h1 {
    text-transform: capitalize;
    padding: 25px 0;
    font: normal normal lighter 38px/1.4em
        wfont_258105_834038867c27494a9e9c2b5b3c7f7eeb,
      wf_834038867c27494a9e9c2b5b3, orig_austin_news_headline_web_light;
  }
}
.j-inputs {
  display: flex;
  justify-content: center;
  .j-inp {
    width: 280px;
    height: 30px;
    padding: 3px;
    padding-left: 15px;
    margin-bottom: 10px;
  }
}
.subscribe {
  width: 150px;
  height: 40px;
  text-transform: uppercase;
  font-size: 9px;
  background: white;
  border: black 1px solid;
  cursor: pointer;
}
.subscribe:hover {
  color: #b2a595;
}
.services {
  margin: 25px auto;
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  width: 945px;
}
.service {
  font-size: 12px;
  cursor: pointer;
}
.service:hover {
  color: #b2a595;
}
.copy {
  font-size: 14px;
  text-align: center;
  color: rgb(178, 165, 149);
  margin-bottom: 50px;
}
.policies {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  p {
    margin-right: 10px;
    cursor: pointer;
  }
}



@media screen and (max-width: 1200px) {
  .opts,
  .opts-2 {
    display: none;
  }
  .nav-logo {
    margin: auto;
  }
  .container {
    width: 100%;
    margin: 10px 10%;
  }
  .menu-bars {
    display: flex;
  }
  .menu-icon {
    height: 50px;
    width: 50px;
  }
  .s-1{
    margin-left: 40px;
    .left{
      margin-left:0px ;
      width: 50%;
      h1{
        font-size: 26px;
      }
      h2{
        font-size: 14px;
      }
      p{
        font-size: 16px;
        width: 90%;
      }
      div{
        width: 100px;
        h6{
          font-size: 14px;
        }
      }
    }
    .right{
      width: 50%;
    }
  }
  .s-2{
    margin: 50px 60px;
    h1{
      font-size: 24px;
      line-height: 1.4em;
      width: 90%;
    }
    p{
      font-size: 16px;
      width: 90%;
    }
    .git{
      width: 150px;
      h4{
        font-size: 18px;
      }
    }
  }
  .s-3{
    div{
      h1{
        font-size: 24px;
      }
      .gs{
        h4{
          font-size: 16px;
        }
      }
      p{
        font-size: 14px;
      }
      em{
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .s-1{
    flex-direction: column;
    height: auto;
    margin-left: 0;
    margin-top: 20px;
    .left,.right{
      width: 99% ;
      height: 99% ;
      margin: 50px 0;
    }
    .left{
      margin-left: 20px ;
    }
  }
  .s-2{
    flex-direction: column;
    margin: 100px auto;
    width: 90% ;
    h1{
      width: 70%;
    }
    p{
      width: 70%;
      font-size: 14px;
    }
    .git{
      margin-bottom: 20px;
      width: 120px ;
      margin-left: 0;
    }
  }
  .s-3{
    flex-direction: column;
    width: 90%;
    margin: auto;
    div{
      width: 90%;
    .gs{
      width: 150px;
    }
    p,em{
      font-size: 12px;
      width: 100%;
    }
    }
    
  }
  .j-inputs{
    flex-direction: column;
    align-items:  center;
  }
  .services{
    display: none;
  }
}
