* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Sweet Sans Pro";
}
a {
  text-decoration: none;
  color: black;
}
.navbar {
  display: flex;
  background-color: white;
  border-bottom: black 0.5px solid;
}
.container {
  margin: 36px 153px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.opts {
  list-style: none;
  display: flex;
  text-transform: uppercase;
  position: absolute;
  left: 0px;
}
.opts-2 {
  list-style: none;
  display: flex;
  text-transform: uppercase;
  position: absolute;
  right: 0px;
}
.opts-2 li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  cursor: pointer;
  font-size: 11px;
  letter-spacing: 0.1em;
  margin-left: 50px;
}
.opts li {
  cursor: pointer;
  font-size: 11px;
  letter-spacing: 0.1em;
  margin-right: 50px;
  font-weight: 400;
}
.opts li a:hover,.opts-2 li a:hover {
  color: #b2a595;
}
.nav-logo a {
  font-size: 60px;
  font-weight: 100;
  font-family: "The Austin";
  margin-bottom: 20px;
}
.menu-bars {
  display: none;
}
.contact {
  width: 100vw;
  min-height: 500px;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
}
.contact::before {
  content: "";
  background-image: url("../../../public/Images/Background.webp");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.con-1 {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-top: 70px;
  border-bottom: 0.5px black solid;
  .left {
    font-size: 30px;
    width: 475px;
    font-family: "Roboto Slab";
    font-weight: 300;
    padding-bottom: 20px;
  }
  .right {
    h1 {
      font-size: 20px;
      letter-spacing: 0.1em;
      font-weight: 500;
      margin-bottom: 20px;
      margin-top: 30px;
    }
    p {
      line-height: 25px;
    }
  }
}
.con-2 {
  width: 70%;
  margin: 50px auto;
  .row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    input,
    select,
    textarea {
      width: 440px;
      min-height: 40px;
      font-size: 21px;
      line-height: 1.6em;
      padding: 3px;
      border: none;
      outline: none;
      background: none;
      border-bottom: 1px black solid;
    }
    select {
      padding-left: 0;
      margin-left: 0;
      position: relative;
      right: 5px;
    }
    textarea {
      resize: none;
      min-height: 250px;
    }
    input:focus,
    textarea:focus {
      border-bottom: 2px solid #dbc5b0;
    }
  }
  .row-4 {
    margin-top: 40px !important;
    div {
      p {
        font-size: 24px;
        margin-bottom: 5px;
      }
      div {
        display: flex;
        align-items: center;
        input {
          width: 13px;
          height: 13px;
          margin-right: 10px;
        }
        input:checked {
          background: black;
        }
        label {
          font-size: 18px;
          line-height: 1.6em;
        }
      }
      div:last {
        margin-bottom: 20px;
      }
    }
  }
}

input::placeholder {
  color: black;
}
.join {
  padding: 20px;
  text-align: center;
  border-top: black 1px solid;
  .fancy {
    font-family: "the austin";
    width: 250px;
    font-size: 33px;
    margin: 20px auto;
    letter-spacing: 0px;
  }
}
.j-title {
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.j-content {
  h1 {
    text-transform: capitalize;
    padding: 25px 0;
    font: normal normal lighter 38px/1.4em
        wfont_258105_834038867c27494a9e9c2b5b3c7f7eeb,
      wf_834038867c27494a9e9c2b5b3, orig_austin_news_headline_web_light;
  }
}
.j-inputs {
  display: flex;
  justify-content: center;
  .j-inp {
    width: 280px;
    height: 30px;
    padding: 3px;
    padding-left: 15px;
    margin-bottom: 10px;
  }
}
.subscribe {
  width: 150px;
  height: 40px;
  text-transform: uppercase;
  font-size: 9px;
  background: white;
  border: black 1px solid;
  cursor: pointer;
}
.subscribe:hover {
  color: #b2a595;
}
.services {
  margin: 25px auto;
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  width: 945px;
}
.service {
  font-size: 12px;
  cursor: pointer;
}
.service:hover {
  color: #b2a595;
}
.copy {
  font-size: 14px;
  text-align: center;
  color: rgb(178, 165, 149);
  margin-bottom: 50px;
}
.policies {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  p {
    margin-right: 10px;
    cursor: pointer;
  }
}
